.homeMain {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #212121;
  height: calc(100vh - 110px);
  font-family: "Roboto", "sans-serif";
}

.homeMain .homeCol1 {
  margin-right: 50px;
}

.homeMain .homeCol1 .homeCharacters,
.homeMain .homeCol2 .homeComics {
  height: calc(100vh - 110px);
  width: 500px;
  object-fit: cover;
  position: relative;
  opacity: 0.1;
}

.homeMain .homeCol1 > div {
  color: white;
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 24px;
}

.homeMain .homeCol2 > div {
  color: white;
  position: absolute;
  top: 40%;
  right: 5%;
  font-size: 24px;
}

.homeMain .homeCol1 .homeCharacters:hover,
.homeMain .homeCol2 .homeComics:hover {
  opacity: 0.8;
  color: transparent;
}
