/* HEADER FORMAT */
.header {
  height: 60px;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marveLogo {
  height: 50px;
}

/* FOOTER FORMAT */

.footer {
  background-color: #212121;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer > p {
  color: white;
  font-weight: bold;
}
